//Slider Start 
.slider {
    background-image: url('images/banner2.png');
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;

    &-text{
        @include perfectCentering;
        height: 45vw;
        flex-direction: column;
        justify-content: space-around;

        h3{
            font-size: 10vw;
            font-family: $font-bycd;
            font-weight: 400;
            color: $color-white;
            line-height: 15vw;
        }
        p{
            font-size: 2.5vw;
            font-weight: 400;
            color: $color-white;
        }

    }
    &-btn {
        background-color: $color-primary;
        color: $color-white;
        font-family: $font-rubik;
        font-size: 1.7vw;
        border: 0;
        outline: 0;
        border-radius: 5px;
        padding: 1vw 1.5vw;
        transition: 0.3s;

        &:hover{
                background-color: $color-secondary;
                color: $color-white !important;
        }
    }
}
// Slider End

// Search bar Start
.search-bar{
    display: flex; //TODO: create a mixin: columnCentering
    flex-direction: column;
    align-items: center;
    background-color: $color-navy;
    padding: 20px 25px;

    h3{
        color: $color-white;
        font-weight: 400;
        font-size: 20px;
    }
    
    form{
        display: flex; //TODO: create a mixin: columnCentering
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    input{
        width: 100%;
        background-color: transparent;
        border: 1px solid $color-thirdly;
        border-radius: 5px;
        margin: 10px 10px;
        padding: 17px 50px;
        color: white;
        outline: 0;
    }

    .search-btn{
        background-color: $color-secondary;
        color: $color-white;
        padding: 17px 39px;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-weight: 500;
        border: 0;
        outline: 0;
        border-radius: 5px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background-color: $color-primary;
            color: $color-white !important;
        }
    }
}
// Search bar End

// Popular Start
.popular{
    &-heading{
        @extend %row;
        flex-direction: column;//TODO: create a mixin: columnCentering
        align-items: center;
        margin: 100px 0;
    }
    &-title {
        font-size: 38px;
        font-weight: 400;
        color: $color-navy;
        margin: 10px;
    }
    
    &-description {
        font-size: 16px;
        color: $color-gray;
        line-height: 30px;
        font-weight: 400;
    }
}

// Popular End